.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: yellowgreen;
  height: 150px;
  padding: 20px;
  color:black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#test.__react_component_tooltip  {
  background-color: white;
  border: 1px solid red;
  color: black;
}

#custom1.__react_component_tooltip  {
  background-color: white;
  border: 1px solid green;
}

#test.__react_component_tooltip:after{
  border-top-color: red;
}